@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS rule to any element that wraps your rich text content (such as paragraphs). */

.custom-rich-text {
  white-space: pre-wrap;
}

.custom-ul-list {
  list-style-type: disc; /* Bulleted list */
  padding-left: 20px;    /* Indent for list */
}

.custom-ol-list {
  list-style-type: decimal; /* Numbered list */
  padding-left: 20px;       /* Indent for list */
}

.custom-list-item {
  margin-bottom: 10px; /* Space between list items */
}

/* Additional styles for consistency */
.quote-wrapper {
  border-left: 4px solid #ccc;
  padding-left: 16px;
  color: #555;
}

.custom-blockquote {
  font-style: italic;
}

.responsive-img-class {
  max-width: 100%;
  height: auto;
}

.code-block-wrapper {
  background-color: #f5f5f5;
  padding: 4px;
  border-radius: 4px;
  font-family: monospace;
}

/* Custom link styles */

.custom-link {
  color: #0071f3; /* Your desired link color */
  text-decoration: underline;
}

.custom-link:hover {
  color: #0366d6;
  text-decoration: none;
}
  